*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__nav{
  background: blue;
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content{
  background: cadetblue;
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
